@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@using MagicShilla_Utility;

<nav class="navbar col-12 navbar-expand ">
    <button class="menu-btn btn btn-link btn-sm" type="button">
        <i class="material-icons">menu</i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- search starts -->
        <form class="form-inline search mr-auto">
            <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-link btn-sm" type="submit"><i class="material-icons">search</i></button>
        </form>
        @if (httpAcc.HttpContext.Session.GetString(SD.SessionToken) != null &&
      httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length > 0
      )
        {
            <ul class="navbar-nav ml-auto">

            <!-- profile dropdown-->
            <li class="nav-item dropdown ml-0 ml-sm-4">
                <a class="nav-link dropdown-toggle profile-link" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <figure class="rounded avatar avatar-30">
                        <img src="https://avatars.githubusercontent.com/u/9026717?v=4" alt="Developerella">
                    </figure>
                    <div class="username-text ml-2 mr-2 d-none d-lg-inline-block">
                        <h6 class="username"><span>Welcome,</span>Developerella</h6>
                    </div>
                    <figure class="rounded avatar avatar-30 d-none d-md-inline-block">
                        <i class="material-icons">expand_more</i>
                    </figure>
                </a>
                <div class="dropdown-menu dropdown-menu-right w-300 pt-0 overflow-hidden" aria-labelledby="navbarDropdown6">
                    <div class="position-relative text-center rounded py-5">
                        <div class="background">
                            <img src="~/assets/img/background-part.png" alt="">
                        </div>
                    </div>
                    <div class="text-center mb-3 top-60 z-2">
                        <figure class="avatar avatar-120 mx-auto shadow"><img src="https://avatars.githubusercontent.com/u/9026717?v=4" alt="Nisanur Bulut"></figure>
                    </div>
                    <h5 class="text-center mb-0">Developerella</h5>
                    <p class="text-center">Computer Engineer</p>
                    <p class="text-center text-secondary fs13">Frankfurt, Germany</p>
                    <a class="dropdown-item border-top" asp-area="" asp-controller="LocalUsers" asp-action="Logout">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <i class="material-icons text-danger">exit_to_app</i>
                            </div>
                            <div class="col pl-0">
                                <p class="mb-0 text-danger">Logout</p>
                            </div>
                            <div class="col-auto align-self-center text-right pl-0">
                                <i class="material-icons text-mute small text-danger">chevron_right</i>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        }
    </div>
</nav>