<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MagicCity_ShillaWEB</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/img/logoicon.png">

    <!-- g fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- g fonts style ends -->
    <!-- Vendor or 3rd party style -->
    <!-- material icons -->
    <link href="~/assets/vendor/material-icons/material-icons.css" rel="stylesheet">
    <!-- flags icons -->
    <link href="~/assets/vendor/flags/css/flag-icon.min.css" rel="stylesheet">
    <!-- daterange picker -->
    <link href="~/assets/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet">

    <!-- Vendor or 3rd party style ends -->
    <!-- Customized template style mandatory -->
    <link href="~/assets/css/style-darkblue-dark.css" rel="stylesheet" id="stylelink">
    <!-- Customized template style ends -->
</head>

<body class="sidemenu-open wrapper-square header-fixed-top">
  
    @{
        await Html.RenderPartialAsync("_SidebarPartialView.cshtml");
    }

    <div class="wrapper">
        <div class="content shadow-sm">
            <div class="container-fluid header-container">
                <div class="row header">
                    <div class="container-fluid " id="header-container">
                        <div class="row">
                            <!-- Header starts -->
                            @{
                                await Html.RenderPartialAsync("_HeaderPartialView.cshtml");
                            }
                            <!-- Header ends -->
                        </div>
                    </div>
                </div>
          
            </div>

            <!-- Main container starts -->
            <div class="container main-container" id="main-container">
                @RenderBody()
            </div>
            <!-- Main container ends -->

        </div>
        @{
            await Html.RenderPartialAsync("_FooterPartialView.cshtml");
        }
    </div>

    <!-- wrapper ends -->
    <!-- Chat  window and buttons starts -->
  
    <!-- Chat  window and buttons ends -->
 
    <!-- Modal -->
    
    <!-- Theme style picker modal window and options ends -->
    <!-- Global js mandatory -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/cookie/jquery.cookie.js"></script>

    <!-- Global js ends -->
    <!-- Vendor or 3rd party js -->
    <!-- date range picker -->
    <script src="~/assets/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="~/assets/vendor/daterangepicker-master/daterangepicker.js"></script>


    <!-- Vendor or 3rd party js ends -->
    <!-- Customized template js mandatory -->
    <script src="~/assets/js/main.js"></script>
    <!-- Customized template js ends -->
    <!-- theme picker -->
    <script src="~/assets/js/style-picker.js"></script>
    <!-- theme picker ends -->
    <!-- Customized page level js -->
    <script>
        'use strict'
        $(document).ready(function () {


        });

    </script>
    <!-- Customized page level js ends -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
