<a href="" class="logo">
    <img src="~/assets/img/logoicon.svg" width="30" height="30.5" alt="" style="border-bottom: 1px solid #FC6F1B" class="logo-icon">
    <div class="logo-text">
        <h5 class="fs22 mb-0">Shilla <sup class="badge badge-danger">PRO</sup></h5>
        <p class="text-uppercase fs11">Shilla Dashboard</p>
    </div>
</a>