

<div class="sidebar">
    <!-- Logo sidebar -->
    @{
        await Html.RenderPartialAsync("_LogoPartialView.cshtml");
    }
    <!-- Logo sidebar ends -->
  
    <h6 class="subtitle fs11">Shilla Process</h6>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Shilla" asp-action="Indexshilla"><i class="material-icons icon">filter_none</i><span>Liste</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Drama" asp-action="IndexDrama"><i class="material-icons icon">drama</i><span>Dramas</span></a>
        </li>
    </ul>
</div>