
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="middle-box text-center animated fadeInDown">
    <h1 class="text-danger">401</h1>
    <h3 class="font-bold text-danger">UnAuthorize</h3>

    <div class="error-desc">
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br>
        You can go back to main page: <br><a asp-asp-area="" asp-action="Login" asp-asp-controller="LocalUsers" class="btn btn-primary m-t">Sign In</a>
    </div>
</div>

