@{
    Layout = "_LayoutAuth";
}
<div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center">
    <div class="card border-0 shadow-lg blur">
        <div class="card-body py-5">
            <h5 class="font-weight-light mb-1 text-mute-high">We are AdminuxPRO,</h5>
            <h3 class="font-weight-normal mb-4">Sign Up with us</h3>
            <div class="card  mb-2 overflow-hidden">
                <div class="card-body p-0">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control rounded-0 border-0" placeholder="Email address" required="" autofocus="">
                    <hr class="my-0">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control rounded-0 border-0" placeholder="Password" required="">
                    <hr class="my-0">
                    <label for="inputPasswordconfirm" class="sr-only">Confirm Password</label>
                    <input type="password" id="inputPasswordconfirm" class="form-control rounded-0 border-0" placeholder="Confirm Password" required="">
                </div>
            </div>
            <div class="my-3 row">
                <div class="col-12 py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                        <label class="custom-control-label" for="customCheck1">Agree to the terms and condition</label>
                    </div>
                </div>

            </div>
            <div class="text-left mb-4">
                <a href="signin1.html" class=" btn btn-primary btn-block">Sign Up <i class="material-icons md-18">arrow_forward</i></a>
            </div>

            <div class="">
                <p class="text-mute">
                    Already have account?<br>
                    Please <a href="signin.html" class="template-primary">Sign In</a> here.
                </p>

            </div>

        </div>
    </div>
</div>