@model MagicShilla_Utility.VM.ShillaNumberCreateVM
<div class="container">
    <form asp-action="CreateShillaNumber">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="ShillaNumberCreateDto.ShillaNo" for="formGroupShillaNoInput" class="form-label">Example label</label>
            <input type="text" asp-for="ShillaNumberCreateDto.ShillaNo" class="form-control" id="formGroupShillaNoInput" placeholder="ShillaNo input placeholder">
            <span asp-validation-for="ShillaNumberCreateDto.ShillaNo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ShillaNumberCreateDto.ShillaID" for="formGroupShillaIDInput" class="form-label">ShillaID</label>
            <select asp-for="ShillaNumberCreateDto.ShillaID" class="form-select" asp-items="@Model.ShillaList">
                <option selected disabled>Select Shilla</option>
            </select>
            <span asp-validation-for="ShillaNumberCreateDto.ShillaID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ShillaNumberCreateDto.Details" for="formGroupDetailsInput" class="form-label">Details</label>
            <input type="text" asp-for="ShillaNumberCreateDto.Details" class="form-control" id="formGroupDetailsInput" placeholder="Details input placeholder">
            <span asp-validation-for="ShillaNumberCreateDto.Details" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
            }