@model IEnumerable<MagicShilla_Utility.Dto.ShillaNumberDto>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-6">
            <div class="card shadow-sm border-0 mb-4 gradient-blue overflow-hidden">
                <div class="card-header bg-none border-0">
                    <p class="fs15">Shilla Number card</p>
                </div>
                <div class="card-header">
                </div>
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-8 p-4">
                            <h6 class="subtitle">Expenses</h6>
                            <h1><span class="font-weight-light">$ 5600</span> </h1>
                            <p class="text-mute">@item.Details</p>
                            <p><span>$ 150</span> <span class="text-mute-high">Saved</span></p>
                        </div>
                        <div class="col-4">
                            <img src="~/assets/img/carousel2.png" alt="" class="right-img float-right mnh-100 mw-100">
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary"
                                asp-controller="ShillaNumber"
                                asp-action="ViewShillaNumber"
                                asp-route-shillaNo="@item.ShillaNo">
                            View
                        </button>
                        <button type="button" class="btn btn-sm text-white btn-warning"
                                asp-controller="ShillaNumber"
                                asp-action="UpdateShillaNumber"
                                asp-route-shillaNo="@item.ShillaNo">
                            Edit
                        </button>
                        <button type="button" class="btn btn-sm btn-danger"
                                asp-controller="ShillaNumber"
                                asp-action="DeleteShillaNumber"
                                asp-route-shillaNo="@item.ShillaNo">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
